<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <section th:replace="~{layout/plantilla :: main-header}"></section>
            <br>
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center border-primary bg-light" style="width: 18rem;">
                                <img src="Logo/GymSmashday1.jpg" class="card-img-top" alt="GymSmash Dia 1">
                                    <div class="card-body">
                                        <h5 class="card-title">Dia de entrenamiento #1</h5>
                                        <p class="card-text">Iniciamos la semana llena de energia con algunos ejercicios de fuerza y de gran potencia.</p>
                                        <a href="#" class="btn btn-primary">Ver rutina</a>
                                    </div>
                            </div>
                            <br>
                                <br>
                                    <div class="card text-center border-primary bg-light" style="width: 18rem;">
                                        <img src="Logo/GymSmashday2.jpg" class="card-img-top" alt="GymSmash Dia 2">
                                            <div class="card-body">
                                                <h5 class="card-title">Dia de entrenamiento #2</h5>
                                                <p class="card-text">Ahora es momento de ganar resistencia y velocidad con estos ejecicios de gran impacto.</p>
                                                <a href="#" class="btn btn-primary">Ver rutina</a>
                                            </div>
                                    </div>
                                    <br>
                                        <br>
                                            <div class="card text-center border-primary bg-light" style="width: 18rem;">
                                                <img src="Logo/GymSmashday3.jpg" class="card-img-top" alt="GymSmash Dia 3">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Dia de entrenamiento #3</h5>
                                                        <p class="card-text">Luego de unos dias intensos, es momento de ganar flexibilidad y estirar esos musculos cansados.</p>
                                                        <a href="#" class="btn btn-primary">Ver rutina</a>
                                                    </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </body>
                                            </html>
