<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <section th:replace="~{layout/plantilla :: main-header}"></section>
        <br>
            <img src="Logo/gymSmashimg.jpg" alt="GymSmash image"/>

            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-4"> <div class="card">
                            <div class="card">
                                <div class="card-body">
                                    <p>¡Despierta tu energía y haz que cada latido cuente! <br>
                                            <br>

                                                Aquí no solo encuentras un espacio para ejercitarte: encuentras una comunidad que celebra tus logros, impulsa tus metas y te acompaña en cada paso. Cada movimiento que das es un acto de fuerza, valentía y superación.           
                                                <br>
                                                    <br>
                                                        Ven, explora tu potencial, rompe barreras y descubre la mejor versión de ti mismo. El viaje empieza ahora: <br>
                                                            <br>¡entra, entrena y transforma tu historia!</p>   
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>

                                                                <br>
                                                                    <br>

                                                                        <div style="padding: 10px;">
                                                                            <p class="ps-3">Contacto <br> +506 8888-4444</p>
                                                                            <p class="ps-3">Horario <br> L-V 8:00am - 10:00pm <br> S-D 8:00am - 2:00pm</p>
                                                                                        </div>

                                                                                        <footer th:replace="~{layout/plantilla :: footer}"></footer>
                                                                                        </body>
                                                                                        </html>
